{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "preserve",
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
